<div class="categoria-form-wrapper">
    <form [formGroup]="form" class="categoria-form">

        <fieldset>
            <legend> Registro de nueva categoría</legend>

            <small class="form-note">Los campos marcados con * son obligatorios.</small>

            <div class="input-block">
                <label for="nombre">Nombre *</label>
                <input id="nombre" formControlName="nombre" type="text" class="form-control" />
                @if (form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)) {
                    <span class="validation-error">El campo nombre es requerido</span>
                }
            </div>

            <div class="input-block">
                <label for="descripcion">Descripción *</label>
                <input id="descripcion" formControlName="descripcion" type="text" class="form-control" />
                @if (form.controls['descripcion'].invalid && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)) {
                    <span class="validation-error">El campo descripción es requerido</span>
                }
            </div>

            <div class="actions">
                <button (click)="callSave()" [disabled]="form.invalid" type="button" class="btn btn-success">
                    Guardar Categoría
                </button>
            </div>
        </fieldset>

    </form>
</div>
