@if (!isLoading) {
    <div [class]="modalContentClass" [ngClass]="{ 'custom-bg': useCustomBackGround }">

        @if (!hideCancelOption) {
            <header class="modal-topbar">
                <button type="button" class="close-btn" (click)="hideModal()" aria-label="Cerrar">
                    <span>&times;</span>
                </button>
            </header>
        }

        <section [class]="modalBodyClass" class="modal-body-section">
            <ng-content></ng-content>
        </section>

        @if (!hideFooter) {
            <footer [class]="modalFooterClass" class="modal-footer-section">
                <div class="modal-actions">
                    <button
                            type="button"
                            class="btn btn-outline-secondary"
                            (click)="callCancelMethod.emit()"
                            [disabled]="loadingConfirmationMethod"
                    >
                        {{ cancelAction }}
                    </button>

                    @if (!hideConfirmAction) {
                        <button
                                type="button"
                                class="btn btn-outline-primary"
                                (click)="callConfirmationMethod.emit()"
                                [disabled]="customValidation || loadingConfirmationMethod"
                        >
                            @if (loadingConfirmationMethod) {
                                <app-loader></app-loader>
                            } @else {
                                {{ confirmAction }}
                            }
                        </button>
                    }
                </div>
            </footer>
        }
    </div>
} @else {
    <app-loader size="full" [contrast]="true" />
}

}
