.modal-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0;
  padding-bottom: 0;

  .close {
    background: transparent;
    border: none;
  }
}

.modal-content.custom-bg {
  background-color: var(--bg-color);
}
