<div class="d-flex justify-content-center align-items-center my-3">
    <nav aria-label="pagination">
        <ul class="pagination">
            <li class="page-item">
                <button
                        class="page-link"
                        (click)="onPage(1)"
                        [disabled]="service.search.pageNumber === 1"
                >
                    <i class="fas fa-angles-left"></i>
                </button>
            </li>

            <li class="page-item">
                <button
                        class="page-link"
                        (click)="onPage(service.search.pageNumber - 1)"
                        [disabled]="service.search.pageNumber === 1"
                >
                    <i class="fas fa-angle-left"></i>
                </button>
            </li>

            @for (item of service.totalItems; track $index) {
                @if (item >= service.search.pageNumber - 2 && item <= service.search.pageNumber + 2) {
                    <li class="page-item">
                        <button
                                class="page-link"
                                [disabled]="service.search.pageNumber === item"
                                (click)="onPage(item)"
                        >
                            {{ item }}
                        </button>
                    </li>
                }
            }

            <li class="page-item">
                <button
                        class="page-link"
                        (click)="onPage(service.search.pageNumber + 1)"
                        [disabled]="service.search.pageNumber === service.totalItems.length"
                >
                    <i class="fas fa-angle-right"></i>
                </button>
            </li>

            <li class="page-item">
                <button
                        class="page-link"
                        (click)="onPage(service.totalItems.length)"
                        [disabled]="service.search.pageNumber === service.totalItems.length"
                >
                    <i class="fas fa-angles-right"></i>
                    </b
