button:disabled {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: #a39c9c !important;
}

.pagination .page-item .page-link {
  color: var(--general-btn-font-color);
  font-family: var(--general-btn-font-family);
}

.pagination .page-item button:enabled {
  background: var(--active-link-color);
}
