.login-container {
  height: 100vh;
  /* background-image: url("../../../../assets/img/login/login-bg.jpg"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 15%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 25, 50, 0.7); /* más oscuro y menos transparente */
    z-index: 1;
  }
  .login-card {
    position: relative;
    z-index: 2;
    width: 45%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 45px rgba(15, 30, 75, 0.1);
    margin: 0 auto;
    background-color: #f9f9f9; /* color más suave */
  }
  @media screen and (min-width: 801px) and (max-width: 1500px) {
    padding: 25px 8%;
    .login-card {
      width: 65%;
      .login-main {
        padding: 5px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 25px 8%;
    .login-card {
      width: 100%;
      .login-main {
        padding: 5px;
      }
    }
  }
}
